<!DOCTYPE html>
    <head>
        <title>My First Express App</title>
    </head>
    <body>
        <h1>Yell your breakfast</h1>
        <h3><%= data.toUpperCase() + '!!!' %></h3>
    </body>
</html>